<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="xmlFirstComponent" class="pl.pjatk.piobed.component.XmlFirstComponent"/>

    <bean id="xmlSecondComponent" class="pl.pjatk.piobed.component.XmlSecondComponent">
        <constructor-arg ref="xmlFirstComponent"/>
    </bean>
</beans>
